{{>header}}
{{>nav}}
<section class="my-5 container">
    <form action="/addLogic">
        <div class="mb-2">
            <input class="form-control" name="id" placeholder="id" value="1" disabled>
        </div>
        <div class="mb-2">
            <input class="form-control" name="Name" placeholder="Name" value="abc">
        </div>
        <div class="mb-2">
            <input class="form-control" name="author" placeholder="author" value="abc">
        </div>
         <div class="mb-2">
            <input class="form-control" name="BooksSection" placeholder="Books section" value="abc" >
        </div>
         <div class="mb-2">
            <input class="form-control" name="NumOfPages" placeholder="Num of pages" value="abc" >
        </div>
        <div class="mb-4">
            <button class="btn btn-primary">Update</button>
        </div>
    </form>
</section>
{{>footer}}