{{>header}}
{{>nav}}
<div class="container py-5">
    <div class="col">
               <div class="alert alert-danger">
                 <p>{{err}}</p>
                 <a href="/" class="btn btn-primary">Back Home</a>
                </div>
    </div>

</div>
{{>footer}}

